.side-link{
  background:#eee; 
  padding:5px; 
  display: inline-flex; 
  vertical-align: middle;
  margin-bottom:5px;
  width:100%;
}

.side-link a{
  margin-left:5px; 
  margin-top:2px; 
  font-size:14px;
}

body{
    background:#fff;
}

.mdl-layout__header-row{
    background:#fff;
    height:90px;
}

.mdl-layout__header.is-compact {
  max-height: 90px;
}

.mdl-card__media{
  background-color: #fff;
}


.mdl-mini-footer{
  padding: 15px;
}

.portfolio-header {
    position: relative;
    background-color: #D8D8D8;
  }
  
  .portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .portfolio-navigation-row {
    background-color:#303F9F;
    text-transform: uppercase;
    height: 45px;
  }
  
  .portfolio-navigation-row  .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
  }
  
  .portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 42px;
  }
  
  .portfolio-header .mdl-layout__drawer-button {
      color:#fff;
      background:#303F9F;
      top: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      height: initial;
  }
  
  .portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
  }
  
  .portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255,64,129);
    left: 15%;
  }
  
  
  img.article-image {
    width: 100%;
    height: auto;
  }
  
  .portfolio-max-width {
    max-width: 900px;
    margin: auto;
  }
  
  .portfolio-copy {
    max-width: 700px;
  }
  
  .portfolio-card .mdl-card__title {
    padding-bottom: 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .no-left-padding{
    padding-left: 0;
  }
  
  .no-bottom-padding {
    padding-bottom: 0;
  }
  
  .padding-top {
    padding: 10px 0 0;
  }
  
  .portfolio-share-btn {
    position: relative;
    float: right;
    top: -4px;
  }
  
  .demo-card-event > .mdl-card__actions {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  
  .portfolio-contact .mdl-textfield {
    width: 100%;
  }
  
  .portfolio-contact form {
    max-width: 700px;
    margin: auto;
  }