{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Modern Web Uygulamaları: Express, NodeJS ve Angular Yazılım Kursu</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/yazilim-kursu-103-modern-web-uygulamalari-express-angular_2_890x250.png" border="0" alt="">
    </div>

    <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılım Kursu 103: Modern Web Uygulamalarına Giriş</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                Bu kurs, modern web uygulamaları yazabilmek için ihtiyaç duyulan teorik ve pratik bilgiyi, davranış, yaklaşım ve vizyonu kazandırmayı amaçlar.
            </p>
            <p>Bu kurs aynı zamanda, <a href="/hizlandirilmis-yogun-yazilim-kursu">3 Aylık Hızlandırılmış, Yoğun, Özel Yazılım Kursu</a>'nun
                <b>üçüncü</b> adımıdır.</p>
            <ul>
                <li>Bu yoğun, hızlandırımış ve özel bir kurstur. Kişinin ay boyunca tek meşguliyetinin bu kurs olması gerekmektedir.</li>
                <li>Kurs eğitimi 3 veya 4 kişilik gruplar halinde verilir.</li>
                <li>Kurs 1 aydır. (4 hafta)</li>
                <li>Dersler <b>haftada 1 gün</b>dür: Cumartesi. Eğitmen tarafından gerek duyulduğu taktirde, ek
                    ders veya etüt konabilir.</li>
                <li>Ders günü 4 saat anlatım, 1 saat etüt olmak üzere en az 5 saattir. Eğitmenin ihtiyaç duyması halinde
                    dersi uzatılabilir. Katılımcıların ek derslere katılabilmesi için serbest bir programı olmalıdır, 1 ay
                    boyunca önceliği kurs olmalıdır.</li>
                <li>Tercihe ve uygunluk durumuna göre, sabah grubuna veya öğlen grubuna katılınabilir:
                    <ul>
                        <li>Sabah grubu, 09:00'da başlar, 14:00'da sona erer.</li>
                        <li>Öğle grubu, 15:00'de başlar, 20:00'de sona erer.</li>
                    </ul>
                </li>
                <li>Her ders sonunda, okuma ve proje ödevleri verilir. Bir sonraki derse kadar bu okumaların ve ödevlerin tamamlanması
                    <b>zorunludur</b>. Aksi durumda kursa devam edilemez. Bu ödev ve projeler <b>haftada asgari 40 saat</b> çalışma gerektirmektedir.</li>
                <li>Kursa katılacak kişinin bir ayda (ders, etüt ve ödevler dahil) asgari 180 saatini bu kurs için ayırması gerekir.</li>
                <li>Kursta -çok büyük bir aksilik yaşanmadıkça- derslere zamanında katılım zorunludur.</li>
                <li>Eğitmenin ihtiyaç duyması halinde koyacağı ek ders ve etütlere de katılım zorunludur.</li>
            </ul>

        </div>

        <!-- Side Links: İletişim -->
        <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding ">
            <p><b>Şu sayfalar ilginizi çekebilir: </b></p>
            <div class="side-link">
                <i class="material-icons">link</i>
                <a href="/hizlandirilmis-yogun-yazilim-kursu">3 Aylık Yazılım Kursu Programı</a>
            </div>
            <div class="side-link">
                <i class="material-icons">link</i>
                <a href="/yeni-baslayanlar-icin-yazilim-kursu">Kurs 101: Sıfırdan Yazılım</a>
            </div>
            <div class="side-link">
                <i class="material-icons">link</i>
                <a href="/design-pattern-mimariler-javascript-typescript-es6-yazilim-kursu">Kurs 102: Yazılımda Mimari</a>
            </div>
            <div class="side-link">
                <i class="material-icons">link</i>
                <a href="/yazilim-egitmeni">Eğitmen</a>
            </div>

            <p style="margin-top:15px;"><b>İletişim için: </b></p>
            <div class="side-link">
                <i class="material-icons">email</i>
                <a href="#" style="white-space:nowrap">ekim.mustafa[at]quizcv.com</a>
            </div>
            <div class="side-link">
                <i class="material-icons">phone</i>
                <a href="#" style="white-space:nowrap">+90 533 357 49 19</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://www.linkedin.com/in/mustafaekim/" target="_blank">LinkedIn: Mustafa Ekim</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://twitter.com/mustafaekim" target="_blank">Twitter: @mustafaekim</a>
            </div>
        </div>


        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Haftalık Program</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Kurs için ihtiyaç duyulan süre, <b>ayda 16 saat ders, 4 saat etüt, asgari 160 saat ev ödevi olmak üzere toplam 180
                        saattir.</b></li>
                <li>Ders günü <b>Cumartesi</b>'dir.</li>
                <li>Ders gününde 4 saat ders, 1 saat etüt vardır.</li>
                <li>Sabah mı, öğlen mi derslere gelmek istediğinize göre, aşağıdaki 2 gruptan size uygun olan ders grubunu seçebilirsiniz.</li>
            </ul>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar" style="justify-content:flex-start">
                    <a href="#sabah-grubu" class="mdl-tabs__tab is-active">Sabah Grubu</a>
                    <a href="#oglen-grubu" class="mdl-tabs__tab">Öğle Grubu</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="sabah-grubu">
                    <ul>
                        <li>Cumartesi: sabah 9'dan, öğlen 2'ye kadar (5 saat)</li>
                    </ul>
                </div>
                <div class="mdl-tabs__panel" id="oglen-grubu">
                    <ul>
                        <li>Cumartesi: öğlen 3'den, akşam 8'e kadar (5 saat)</li>
                    </ul>
                </div>
            </div>



        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kimler Kursa Katılabilir?</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                <ul>
                    <li>En az lise mezunu olan</li>
                    <li>En az orta (<a href="https://www.quizcv.com/tr/content/c11/ingilizce-test-sinav-seviyeleri-belirleme-tespit-etme-a1-a2-b1-b2-c1-c2-orta-baslangic-ileri"
                            target="_blank">intermediate, B1/B2</a>) seviyede İngilizce bilen</li>
                    <li>1 ay boyunca uygun olan ve bu sürede ders, ödev ve projeler için gerekli zamanı ayırabilecek (toplam
                        180 saat)</li>
                    <li>Çok aksi bir durum olmadıkça, İstanbul/Ataşehir'deki kurs merkezimizdeki tüm derslere -hiç atlamadan-
                        katılabilecek
                    </li>
                    <li>Derslere getirebilecekleri ve ev ödevlerini yapabilecekleri bir dizüstü bilgisayarı olan</li>
                    <li><a href="/design-pattern-mimariler-javascript-typescript-es6-yazilim-kursu">Kurs 102: Sıfırdan Yazılım</a> eğitimini başarıyla tamamlamış veya bu eğitimin içeriğine haiz</li>
                </ul>
                kişiler kursa katılabilir.
            </p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Araçlar</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>

                <span class="mdl-chip">
                   <span class="mdl-chip__text">Express</span>
                </span>

                <span class="mdl-chip">
                   <span class="mdl-chip__text">Angular</span>
                </span>

                <span class="mdl-chip">
                        <span class="mdl-chip__text">TypeScript</span>
                </span>

                <span class="mdl-chip">
                        <span class="mdl-chip__text">NodeJS</span>
                </span>

                <span class="mdl-chip">
                        <span class="mdl-chip__text">VS CODE</span>
                </span>

            </p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Bazı Konu Başlıkları</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                <ul>                    
                    <li>Express</li>
                    <li>JQuery</li>
                    <li>SPA</li>
                    <li>Angular</li>
                </ul>


            </p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Ücretlendirme</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Bireysel:</p>
            <ul>
                <li><b>Kurs 103: Modern Web Uygulamalarına Giriş</b>, 1 aylık program 3.500TL'dir.</li>
                <li><a href="/hizlandirilmis-yogun-yazilim-kursu">3 aylık kurs programı</a> peşin ücreti 8.500TL'dir. (2.000TL
                    indirimli)
                </li>
            </ul>
            <p>Kurumsal:</p>
            <ul>
                <li><b>Kurs 103: Modern Web Uygulamalarına Giriş</b>, 1 aylık program 4.000TL + KDV'dir.</li>
                <li><a href="/hizlandirilmis-yogun-yazilim-kursu">3 aylık kurs programı</a> peşin ücreti 10.000TL + KDV'dir.</li>
            </ul>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Çocuklar ve Anadili Türkçe Olmayanlar İçin</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Çocuklar için program özelleştirilmektedir. Asgari 3 kişilik grup oluşturulmalıdır. Bilgi için bizimle iletişime
                    geçiniz.
                </li>
                <li>İngilizce konuşan yabancılar için, tüm program İngilizce anlatılabilmektedir. Ancak bunun için asgari 3 kişilik
                    grup oluşturulmalıdır. Bilgi için bizimle iletişime geçiniz.</li>
            </ul>
        </div>


    </div>

</div>

{% endblock %}