{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/articles/yazilimda-kariyer.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title ">
        <h2 class="mdl-card__title-text">Yazılımın Sunduğu Fırsatlar ve Avantajlar</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Yazılım sektörünün bugünü, yarını ve sunduğu kariyer fırsatları. Yazılım sektörüne geçiş yapmak ve yeni bir kariyere başlamak
        mümkün mü?
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="/yazilim-sektorunun-sundugu-kariyer-firsatlari" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
              Yazıyı Okuyun
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/articles/iyi-yazilimci-nasil-olunur.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title ">
        <h2 class="mdl-card__title-text">Kimler İyi Yazılımcı Olabilir? Ya Siz?</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Siz iyi bir yazılımcı olabilir misiniz? En iyi yazılımcıların ortak özellikleri ile kendiniz kıyaslayın ve iyi bir yazılımcı olabilir misiniz kendiniz değerlendirin.
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
            Yazıyı Okuyun
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/articles/nasil-yazilimci-olunur-kodlama-ogrenme.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title ">
        <h2 class="mdl-card__title-text">Nasıl: Kodlama Öğrenilir ve Yazılımcı Olunur?</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Yazılım, ömür boyunca öğrenilmeye devam eden bir alan olsa da, tez zamanda başlamak, hemen yola koyulmak en önemli adımdır. 
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="/yazilim-nasil-ogrenilir-kodlama-ogrenmek" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
            data-upgraded=",MaterialButton,MaterialRipple">
            Yazıyı Okuyun
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
</div>




{% endblock %}