{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Yazılım sektöründe kariyer fırsatları</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/articles/yazilim-sektorunun-sundugu-kariyer-firsatlari.png" border="0"
            alt="">
    </div>

    <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılım Sektörünün Kesintisiz Büyümesi</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                Sağlıktan otomobile, üretimden reklamcılığa, insan kaynaklarından eğitime kadar tüm alanlar yazılım ile yeniden şekilleniyor.
                <b>Yazılım tüm ürünlerin tam göbeğine yerleşirken, yazılımcılar da şirketlerin en önemli insanları oluyor</b>.
                Bugün bir devrimin tam ortasındayız. Ancak çok azımız tam olarak neler olup-bittiğinin farkında. Yaşı 50'yi
                aşmışlar için durum çok kötü değil. Ancak daha genç yaşlardaki insanların bu devrime seyirci kalması, çok
                doğru olmayabilir.</p>
            <p>
                Yazılım bugün, gerek çalışma koşulları, gerek sağladığı maddi imkanlar ve iş çeşitliliği, gerekse sunduğu hayat tarzı açısından,
                çalışılması en çok arzu edilen sektörlerden birisi. Üstelik dünyadaki etkisi arttıkça, kariyer fırsatlarının
                da artacağı aşikar. Bu bağlamda <b>uzun vadeli kariyer yapmak için önü en açık mesleklerden biri</b>                olarak görülüyor.
            </p>
            <p>Amerika'daki S&P'ye baktığımızda da artık bu devrim çok açık bir şekilde görülebiliyor.</p>
            <p>
                <img src="/static/image/banner/articles/us-market-cap.jpg" style="width:100%; height:auto;" />
            </p>
            <ul>
                <li>Apple, Google, Microsoft, Amazon ve Facebook, sırasıyla dünyanın en büyük ilk 5 şirketi. S&P'nin ilk 20 şirketinin
                    %40'ı teknoloji şirketi.</li>
                <li>Toplam çalışan yazılımcı sayısı her geçen yıl büyük bir hızda artıyor.</li>
                <li>Artan ihtiyacını karşılayabilmek için, gerek devletler, gerek şirketler, daha hızlı yazılımcı yetiştirebilmek
                    için özel programlar uyguluyor.</li>
            </ul>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılımda Farklılaşan Kariyer Olanakları</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Yazılımın diğer mesleklere göre en büyük avantajlarından bir tanesi de; hem sektör çeşitliliği, hem de uzmanlıklar
                açısından birçok alt dala ayrılıyor olması. Artık yazılımcılar uzmanlıklarına göre birçok dala bölünmüş durumda.
                Bu da, kişilerin kendi kariyerlerine, daha yetenekli oldukları alanlarda ilerleyebilme seçeneğini ortaya
                koyuyor.
            </p>
            <ul>
                <li>Web, Mobil, UX, Frontend/Backend...</li>
                <li>Veritabanı, Sunucular, Ölçeklendirme, Devops, Cloud...</li>
                <li>Big Data, Data Science, BI, Machine Learning, AI...</li>
                <li>Oyun, Eticaret, Medya, Siber Güvenlik, ESpor...</li>
                <li>Donanım/IoT, Smart Home, Drone, Giyilebilir Tech...</li>
                <li>VR, Augmented Reality ...</li>
                <li>Digital Audio, Video, Image...</li>
            </ul>
            <p>
                <img src="/static/image/banner/articles/emerging-tech-trends.jpg" style="width:100%; height:auto;" />
            </p>
            <ul>
                <li>Yazılım sektörünün geçmişine göz attığımızda neredeyse her yıl daha önce hiç olmayan bir dikeyin daha ortaya
                    çıktığını görüyoruz. </li>
                <li>Bu doğurganlık ve genişleme yazılım sektöründe faaliyet gösterenler için her yıl yeni bir fırsatın aralanması
                    demek oluyor. Uzmanlaşılabilecek, gelecekte daha önemli olacağını düşündüğünüz alanlara, kendinizden
                    başlayarak yatırım yapabileceksiniz.</li>
            </ul>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılımcıların En Şanslı Olduğu Konular</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Yazılımcılar kendi işlerini kurmaya en yakın meslek gruplarından biridir.</li>
                <li>Yazılım şirketleri, ihtiyaç duydukları düşük başlangıç sermayesi ve ölçeklendirilebilme ile elde edebilecekleri
                    pazar büyüklüğü açısından yüksek hacimlerde yatırım almaya en yatkın şirketlerdendir.
                </li>
                <li>Yazılımcılık tüm dünyada geçerli ve standart bir meslek grubudur. İyi bir yazılımcı dünyanın her ülkesinde
                    iyi bir iş bulabilir.</li>
                <li>Evden çalışmaya en müsait meslektir.</li>
                <li>Uluslararası iş yapması en olağan meslek gruplarındandır.</li>
            </ul>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılım Sektörüne Geçiş Yapmak ve Yeni Bir Kariyere Başlamak</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p><b>Birbaşka meslekten yazılımcılık mesleğine geçiş yapmak ve yeni bir kariyere başlamak mümkündür.</b> Bunu yazılım
                kadar maddi getirisi olan diğer meslekler için söylemek hiç bu kadar kolay değildir. Örneğin 35 yaşında elektrik
                mühendisi, avukat, doktor, mimar veya pazarlama uzmanı olmaya kalmışmak kolay olmayabilir. Çünkü bu mesleklerin
                mazisi çok uzundur ve katetmeniz gereken uzun bir yol vardır. Ancak yazılımın, sürekli gelişen ve değişen
                yapısı, yeni kişilere yeni kariyer fırsatları sunmaktadır. <b>Birçok alan o kadar yenidir ki, temel bir yazılım eğitimi aldıktan
                sonra bu alanda uzmanlaşmaya başlamanız uzun sürmeyebilir.</b> Zira yazılımcılık, kendi geleneksel eğitim
                kaynaklarından (bilgisayar mühendisliği vb.) en az beslenen mesleklerden biridir. Bu bağlamda birbaşka meslek
                icra eden kişiler, yazılımcı olmaya karar verebilir ve yeni bir kariyere başlangıç yapabilir.</p>
            <p>Eğer siz de yeni bir kariyere başlamak ve yazılım sektörüne giriş yapmak istiyorsanız,
                <a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim">kimler iyi yazılımcı olabilir</a> adlı
                yazımıza göz atabilirsiniz.
            </p>
        </div>

    </div>



</div>

{% endblock %}