{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Yeni Başlayanlar İçin: Hızlandırılmış, Yoğun, Özel Yazılım Kursu</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/hizlandirilmis-yogun-yazilim-kursu_3_890x250.png" border="0" alt="">
    </div>

    <div class="mdl-grid portfolio-copy">


        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Özel Yazılım Kursu</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                Hızlandırılmış yazılım eğitimi kurs programı, hiç yazılım bilmeyen insanların, yakın gelecekte yazılım sektöründe kariyer
                edinebilmeleri için ihtiyaç duyacakları teorik ve pratik bilgiyi, davranış ve yaklaşımları kazandırmayı amaçlar.
            </p>
            <p>
                Başarı oranı çok düşük olan diğer yazılım kurslarından farklı olarak:
                <ul>
                    <li>Çok az sayıda öğrencinin yer aldığı (3-4 kişilik) özel sınıflarda</li>
                    <li>Yoğun okuma ve proje ödevleri ile desteklenmiş</li>
                    <li>Her dersin başında veya sonunda bulunan etüt saatlerinde, kişilerin karşılaştıkları sorunların anlatımla
                        birlikte çözüldüğü ve ek gelişim için yol gösterildiği</li>
                    <li>Gerekli durumlarda ek ders veya okumalar ile zenginleştirilen</li>
                    <li>Bire-bir seanslar ile gelişimin gözlendiği ve gerekli müdahalelerin yapıldığı</li>
                    <li>Tartışma ve birlikte fikir yürütme üzerinde durularak, düşünme tarzı, yaklaşım ve davranış şekillerinin
                        aktarıldığı
                    </li>
                    <li>Bireyin kendi-kendine okuma, deneme, yanılma ile öğrenme becerisini geliştirmesinin amaçlandığı</li>
                </ul>
                özel bir yöntem temel alınarak hazırlanmıştır.
            </p>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding ">
            <p><b>Bu yazılarımız ilginizi çekebilir: </b></p>
            <div class="side-link">
                <i class="material-icons">help</i>
                <a href="/yazilim-sektorunun-sundugu-kariyer-firsatlari">Neden yazılım?</a>
            </div>
            <div class="side-link">
                <i class="material-icons">help</i>
                <a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim">Kimler iyi yazılımcı olabilir?</a>
            </div>

            <p style="margin-top:15px;"><b>Program detayları:</b> </p>
            <div class="side-link">
                <i class="material-icons">find_in_page</i>
                <a href="/yeni-baslayanlar-icin-yazilim-kursu">1. Ay Programı: Kurs 101</a>
            </div>
            <div class="side-link">
                <i class="material-icons">find_in_page</i>
                <a href="/design-pattern-mimariler-javascript-typescript-es6-yazilim-kursu">2. Ay Programı: Kurs 102</a>
            </div>
            <div class="side-link">
                <i class="material-icons">find_in_page</i>
                <a href="/modern-spa-web-uygulamalari-express-nodejs-angular-yazilim-kursu">3. Ay Programı: Kurs 103</a>
            </div>
            <div class="side-link">
                <i class="material-icons">link</i>
                <a href="/yazilim-egitmeni">Eğitmen</a>
            </div>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">3 Aylık Yazılım Kursu Programı</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Tüm kurs programı toplam 3 aydır. Her biri 1 ay olan 3 farklı programdan oluşur.
                <ul>
                    <li><a href="/yeni-baslayanlar-icin-yazilim-kursu">Kurs 101</a>: Sıfırdan Yazılım (Haftada 3 gün ders)</li>
                    <li><a href="/design-pattern-mimariler-javascript-typescript-es6-yazilim-kursu">Kurs 102</a>: Mimari (Haftada
                        2 gün ders)</li>
                    <li><a href="/modern-spa-web-uygulamalari-express-nodejs-angular-yazilim-kursu">Kurs 103</a>: Modern Web Uygulamalarına
                        Giriş (Haftada 1 gün ders)</li>
                </ul>

                Her bir program sonrası, adayın gelişimi gözlenerek, bir sonraki programa geçişi değerlendirilir. Adayın 3 ay boyunca asgari
                540 saatini bu programa adaması gerekmektedir.
            </p>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Aktivite/Kurs</th>
                        <th>1. Ay</th>
                        <th>2. Ay</th>
                        <th>3. Ay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Ders (Saat)</td>
                        <td>48</td>
                        <td>32</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Etüt (Saat)</td>
                        <td>12</td>
                        <td>8</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Ödev + Proje (Saat)</td>
                        <td>120</td>
                        <td>140</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Toplam Saat</td>
                        <td>180</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">1 Ders Günündeki Ders Saati</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">1 Ders Günündeki Etüt Saati</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">1 Haftadaki Ders Günü</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Toplam Ders Günü</td>
                        <td>12</td>
                        <td>8</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin:15px 0px;"><i>İlgili kurs programının sayfasından daha detaylı bilgi edinebilirsiniz.</i></div>

        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kimler Kursa Katılabilir?</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                <ul>
                    <li>En az lise mezunu olan</li>
                    <li>En az orta (<a href="https://www.quizcv.com/tr/content/c11/ingilizce-test-sinav-seviyeleri-belirleme-tespit-etme-a1-a2-b1-b2-c1-c2-orta-baslangic-ileri"
                            target="_blank">intermediate, B1/B2</a>) seviyede İngilizce bilen</li>
                    <li>Önündeki 3 ay uygun olan ve bu sürede kurs, ödev ve projeler için gerekli zamanı ayırabilecek</li>
                    <li>Çok aksi bir durum olmadıkça, İstanbul/Ataşehir'deki kurs merkezimizdeki tüm derslere -hiç atlamadan-
                        katılabilecek
                    </li>
                    <li>Derslere getirebilecekleri ve ev ödevlerini yapabilecekleri bir dizüstü bilgisayarı olan</li>
                </ul>
                kişiler kursa katılabilir.
            </p>
        </div>


        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kursun Hedefi Nedir?</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">

            <p>İyi bir yazılımcı, güncel araçlara hakim olmalı (programlama dili vb), sistematik ve profesyonel düşünce tarzını
                benimsemiş olmalı, kendini güncel tutabilmeli ve kendine uygun alanlarda uzmanlaşabilmelidir. </p>

            <p>Bu bağlamda, kurs boyunca da, başarılı bir yazılımcının önde olması gereken 4 alanda, aşağıdaki kazanımlar hedeflenmektedir:
                <ul>
                    <li><b>ARAÇLAR:</b> Yazılım geliştirmek için güncel, teorik ve pratik bilgi (programlama dili, sunucu, veritabanı
                        vb.) edinmek, program yazmak, proje hayata geçirebilmek.</li>
                    <li><b>DÜŞÜNCE:</b> Profesyonel yazılım geliştirmek için ihtiyaç duyulan modellemeler, mimariler ve yaklaşımlar
                        hakkında akıl yürütebilmek, takım arkadaşları ile tartışabilmek, farklı çözümlerin, avantaj ve dezavantajlarını
                        irdeleyebilmek. </li>
                    <li><b>DAVRANIŞ:</b> Yazılım kariyeri boyunca kendi eksiklerini tespit etmek, eksiklerini gidermek, kendini
                        güncel tutmak.
                    </li>
                    <li><b>VİZYON:</b> Yazılım hayatı boyunca uzmanlaşacağı alanları belirleyebilmek ve kariyerinde yükselebilmek
                        için gerekli davranışları kazanmak.</li>
                </ul>
            </p>

            <p>
                Kursu başarıyla tamamlayan bir bireyin aşağıdaki bilgi, davranış ve yetkinlikleri kazanmış olması beklenir:
                <ul>
                    <li>Yazılım dünyası spekturumunda sağlıklı ve gerçekçi bir bakış açısına sahip olmak.</li>
                    <li>Bir yazılım projesini hayata geçirmek için gerekli yol haritasını ortaya çıkarabilmek.</li>
                    <li>İyi bir yazılımcı olmanın ve iyi bir yazılımcı kalmanın püf noktalarını kavramak ve bu yöntemleri kariyeri
                        boyunca uygulamaya hazır olmak.</li>
                    <li>Profesyonel bir yazılım geliştirmede ihtiyaç duyulan yaklaşımları içselleştirmiş olmak.</li>
                    <li>Yazılım dünyayısındaki gelişmeleri takip edebilmek.</li>
                    <li>Kendi eksiklerini tespit ederek, odaklanması gereken alanların üzerine gidebilmek.</li>
                </ul>
            </p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kursta Kazanılacak Teknik Yetkinlikler</h3>

        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>1. Ay: HTML, CSS, JavaScript, SQL, Web Sunucuları, Veritabanları</li>
                <li>2. Ay: ES6, TypeScript, NodeJS, Design Pattern ve Prensipleri, Mimari Paternler, Object Oriented Programming,
                    Functional Programming, Testing</li>
                <li>3. Ay: Express, Angular, MongoDB</li>
            </ul>
        </div>



        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kurs Bittikten Sonraki Hedefler</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            Kurs bittikten sonra adayın yazılım dünyasında aktif kalması ve kendi gelişimini sistematik olarak sürdürmesi gerekir. Bunu
            yapabilmesi için gerekli altyapıya ve düşünce sistemine sahip olacaktır. Kursu başarıyla tamamlayan bir birey:
            <ul>
                <li>Bir şirketin yazılım departmanında Junior seviyesinde başlayabilmelidir.</li>
                <li>Freelance işler yapabilecek düzeyde olacaktır.</li>
                <li>Kendi projesini hayata geçirmek için yola koyulabilir.</li>
            </ul>

            <p><i>Gerek asıl iş alanımızın İnsan Kaynakları yazılımları olmasından ötürü, gerekse sektördeki bağlantılarımızdan ötürü,
            bizlerden sürekli yazılımcı tavsiyesi (yönlendirmesi) isteğinde bulunuluyor. 
            Bu yüzden kursu başarıyla bitirenleri mutlaka yönlendireceğimiz şirketler olacaktır, ancak adayları yönlendiriken
            kişiler hakkındaki objektif görüşlerimizi olduğu gibi aktarmaktayız. Bu yüzden kursta gösterilecek performans önemlidir.
            </i></p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Ücretlendirme</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Bireysel:</p>
            <ul>
                <li>Her bir 1 aylık program 3.500TL'dir.</li>
                <li>3 aylık program peşin ücreti 8.500TL'dir. (2.000TL indirimli)</li>
            </ul>
            <p>Kurumsal:</p>
            <ul>
                <li>Her bir 1 aylık program 4.000TL + KDV'dir.</li>
                <li>3 aylık program peşin ücreti 10.000TL + KDV'dir.</li>
            </ul>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Çocuklar ve Anadili Türkçe Olmayanlar İçin</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Çocuklar için program özelleştirilmektedir. Asgari 3 kişilik grup oluşturulmalıdır. Bilgi için bizimle iletişime
                    geçiniz.
                </li>
                <li>İngilizce konuşan yabancılar için, tüm program İngilizce anlatılabilmektedir. Ancak bunun için asgari 3 kişilik
                    grup oluşturulmalıdır. Bilgi için bizimle iletişime geçiniz.</li>
            </ul>
        </div>


        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Daha fazla bilgi edinmek için</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            Bizleri direkt arayabilirsiniz: +90 533 357 49 19
        </div>



    </div>
</div>

{% endblock %}