{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Yazılım Kursu İletişim</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/yenikod-yazilim-kursu-sinif.jpg" border="0" alt="">
    </div>

    <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kurs Merkezi</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Yazılım eğitimleri Ataşehir ofisimizde verilmektedir. Adres:
                <br/> Ataşehir Bulvarı, No:16, Ataçarşı, 4. Kat, Daire:65. Yenikod
            </p>
            <p>Kurumsal eğitimler farklı yerleşkelerde veya uygun ortam sağlanabiliyorsa müşteride verilebilmektedir. Detaylar
                için bizimle iletişime geçebilirsiniz.</p>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding ">
            <p>
                <b>İletişim için: </b>
            </p>
            <div class="side-link">
                <i class="material-icons">email</i>
                <a href="#" style="white-space:nowrap">ekim.mustafa[at]quizcv.com</a>
            </div>
            <div class="side-link">
                <i class="material-icons">phone</i>
                <a href="#" style="white-space:nowrap">+90 533 357 49 19</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://www.linkedin.com/in/mustafaekim/" target="_blank">LinkedIn: Mustafa Ekim</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://twitter.com/mustafaekim" target="_blank">Twitter: @mustafaekim</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}