{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Yazılımcı Nasıl Olunur? Kodlama Nasıl Öğrenilir?</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/articles/nasil-yazilimci-olunur-kodlama-nasil-ogrenilir.png" border="0"
            alt="">
    </div>

    <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Yazılım Nasıl Öğrenilir?</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>Yazılım öğrenmeye karar vermeden önce <a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim">iyi yazılımcıların ortak özellikleri</a>ni
                incelediğimiz yazımıza göz atmanızda ve kendinizi bu bağlamda değerlendirmenizde fayda var.
            </p>

            <p><a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim">Kimler iyi yazılımcı olabilir</a> adlı yazımızda
                paylaştığımız gibi, yazılım, öğrenilerek tüketilebilecek bir alan değildir. Yazılım kariyeriniz boyunca sürekli
                öğrenmeye devam edeceksiniz.</p>


            <p>Eğer yazılım öğrenmeye karar verdiyseniz, öncelikle İngilizce seviyenizin bu süreçte önünüzü kesmeyeceğinden
                emin olun. Eğer <a href="https://www.quizcv.com/tr/content/c11/ingilizce-test-sinav-seviyeleri-belirleme-tespit-etme-a1-a2-b1-b2-c1-c2-orta-baslangic-ileri"
                    target="_blank">orta seviye (B1/B2) İngilizce</a>'den aşağı seviyede İngilizce'niz varsa, önceliğinizi İngilizce
                öğrenmeye vermenizde fayda olacaktır. Eğer orta seviyede İngilizce'niz varsa, yazılım öğrenmeye başlamanızla
                birlikte, İngilizce'nizi ilerletmek için de paralel bir eylem planına sahip olmalısınız.
            </p>

        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Eğer gençseniz, vaktiniz var, aceleniz yok ise ve henüz meslek seçiminiz konusunda kararsızsanız</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Başlangıç seviye programlama kitapları satın alarak, internetteki kılavuz ve dokümanları okuyarak, video
                    eğitimlerini izleyerek programlama öğrenmeye başlayabilirsiniz.</li>
                <li>Bu süre içerisinde mutlaka sizden birkaç adım önde programcılarla tanışmaya gayret edin. Onların size tavsiye
                    edeceği kitaplar ve dokümanları okuyun. Sizden ilerde olan insanları yazılım kariyeriniz boyunca hep
                    takip edin, ilişkilerinizi sıkılaştırın. Onlarla yaşacağınız diyaloglar ve tartışmalar, onların bakış
                    açısını daha hızlı kavramanızı sağlayacaktır.</li>
                <li>Programlama becerilerinizi geliştirebileceğiniz, ama asıl profesyonel yazılımcılarla ilişki kurabileceğiniz
                    bir staj bulmaya gayret edin.</li>
                <li>Eğer imkanınız var ise bir yazılım kursuna yazılabilirsiniz. Eğer Ataşehir'de yakın oturuyorsanız, bizim
                    sunduğumuz <a href="/hizlandirilmis-yogun-yazilim-kursu">"Hızlandırılmış, Yoğun, Özel Yazılım Kursu"</a>nu
                    da değerlendirebilirsiniz.</li>
                <li>Kendinize 1-2 ayda tamamlayabileceğiniz ufak projeler icat edin.</li>
                <li>Twitter, Github, Stackoverflow gibi sitelerde, sizden birkaç adım önde olduğunu bildiğiniz insanları takip
                    edin. Neler yaptığını incelemeye çalışın.</li>
            </ul>
            <p>
                Bu şekilde kodlamaya yavaş-yavaş giriş yapmış olacaksınız. Bu süre zarfında yazılımcılığın size uygun bir meslek olup olmadığını
                da anlamaya çalışın. Bunu yaparken
                <a href="/kimler-iyi-yazilimci-olabilir-kodlama-ogrenebilir-miyim">Kimler iyi yazılımcı olabilir</a> adlı
                yazımızda paylaştığımız değerlendirmeleri göz önünde bulundurun.</p>
        </div>

        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Eğer yazılımı meslek edinmek istiyorsanız ve çok vaktiniz yoksa</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>
                    Mutlaka hızlandırılmış bir kursa yazılın veya özel bir eğitmenden destek alın. İstanbul Ataşehir'e yakın oturuyorsanız, bizim
                    sunduğumuz <a href="/hizlandirilmis-yogun-yazilim-kursu">Hızlandırılmış, Yoğun, Özel Yazılım Kursu</a>'na
                    göz atın.
                </li>
                <li>Profesyonel yazılımcılar, sürekli kendini güncellemek zorundadır. Yazılım kariyeri boyunca önemli uzmanların
                    kitaplarını okumalı, onları internet hesaplarından takip etmeli, onların konuşmalarını izlemeli ve mümkünse
                    eğitimlerine katılmalıdır. Benzer veya ileri seviyede yazılımcılarla yapılacak etütler, tartışmalar,
                    akıl yürütmeler çok faydalı olacaktır.
                </li>
            </ul>

        </div>




    </div>



</div>

{% endblock %}