{% extends "master.html" %} {% block center %}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Yazılım Kursu Eğitmeni: Mustafa Ekim</h2>
    </div>
    <div class="mdl-card__media">
        <img class="article-image" src="/static/image/banner/yazilim-kursu-egitmeni-mustafa-ekim.jpg" border="0" alt="">
    </div>

    <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Kısa Özgeçmiş</h3>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                Mustafa Ekim, 1983 yılında Konya'da doğdu; sırasıyla Ankara, İzmit ve Kırıkkale'de yaşadıktan sonra ailesi ile İstanbul'a
                taşındı. Akıcı olarak <b>Fransızca</b> ve <b>İngilizce</b> konuşan Mustafa Ekim,
                <ul>
                    <li>2002 yılında <b>Saint-Joseph Fransız Lisesi</b>'nden</li>
                    <li>2006 yılında <b>Boğaziçi Ünversitesi Yönetim Bilişim Sistemleri</b>'nden mezun oldu.</li>
                </ul>
            </p>
            <p>2005-2006 yıllarında staj yaptığı ITS'de, 2007 yılında yazılım mimarı olarak çalıştı. 2008-2009 yıllarında Citibank'ta
                çalıştıktan sonra kendi şirketini kurdu. Son 8 yılda 6'dan fazla büyük yazılım projesine imza attı. Bugün
                halen KOBİ ve kurumsal şirketlere yazılım konusunda danışmanlık ve eğitim faaliyetleri sunmaya devam ediyor.</p>
            <p>
                Sahibi olduğu <a href="https://www.quizcv.com" target="_blank">QuizCV.com</a> ile Türkiye'de başta Anadolu
                Grubu, Sanofi İlaç, Yataş, İpsos, AvivaSA olmak üzere 50'den fazla şirkete online insan kaynakları yazılım
                çözümleri sağlamaktadır. Dünya'da ise Nijerya'dan ABD'ye; Vietnam'dan Hindistan'a kadar birçok ülkedeki kurumsal
                müşterisine online sınav yazılım çözümleri sunmaktadır. Bir diğer girişimi olan <a href="http://peop.live"
                    target="_blank">Peop.live</a> ise canlı eğitim ve etkinliklerde dinleyici-sunucu etkileşimi arttıran
                bir yazılım çözümüdür.
            </p>

            <p>Mustafa Ekim yazılım dünyasındaki yenilikleri yakından takip etmeye ve aktif olarak yazılım geliştirmeye devam
                etmektedir. Son 2 yıldır özellikle Progressive Web Apps, Single Page Web Application, Angular, NodeJS, TypeScript,
                MongoDB, Neo4J, ArangoDB gibi teknolojiler üzerinde uzmanlaşmaktadır. </p>

        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding ">
            <p><b>İletişim için: </b></p>
            <div class="side-link">
                <i class="material-icons">email</i>
                <a href="#" style="white-space:nowrap">ekim.mustafa[at]quizcv.com</a>
            </div>
            <div class="side-link">
                <i class="material-icons">phone</i>
                <a href="#" style="white-space:nowrap">+90 533 357 49 19</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://www.linkedin.com/in/mustafaekim/" target="_blank">LinkedIn: Mustafa Ekim</a>
            </div>
            <div class="side-link">
                <i class="material-icons">person_add</i>
                <a href="https://twitter.com/mustafaekim" target="_blank">Twitter: @mustafaekim</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}