<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hızlandırılmış Yazılım Kursu ile Kodlama ve Programlama Eğitimi. Angular, NodeJS, Express">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
        <% title %>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <link rel="stylesheet" href="/static/style/common.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9537124-14', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">
                    <a href="/"><img src="/static/image/identity/yenikod-yazilimkursu-logo-crop-h75px.png" alt="Yeni Kod Yazılım Kursu Logo"/></a>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link {% if page == 'courses' %} is-active {% endif %}" href="/">Kurslar</a>
                    <a class="mdl-navigation__link {% if page == 'instructor' %} is-active {% endif %}" href="/yazilim-egitmeni">Eğitmen</a>
                    <a class="mdl-navigation__link {% if page == 'articles' %} is-active {% endif %}" href="/yazilim-egitimi">Yazılar</a>
                    <a class="mdl-navigation__link {% if page == 'contactus' %} is-active {% endif %}" href="/yazilim-kursu-iletisim">İletişim</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <span class="mdl-layout__title">Menü</span>
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/">Kurslar</a>
                <a class="mdl-navigation__link" href="/yazilim-egitmeni">Eğitmen</a>
                <a class="mdl-navigation__link" href="/yazilim-egitimi">Yazılar</a>
                <a class="mdl-navigation__link" href="/yazilim-kursu-iletisim">İletişim</a>

            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                {% block center %}{% endblock %}
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Yenikod Yazılım Kursu, İstanbul/Ataşehir</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Bize Ulaşın</a></li>
                        <li><a href="#">+90 533 357 49 19</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.0.6/material.min.js"></script>
</body>

</html>